<h1>Welcome Home</h1>

<div class="container">
	<ul>
	  <li>Item 1</li>
	  <li>Item 2</li>
	</ul>

	<ul>
  	<li>Item 1</li>
  	<li>Item 2 </li>
  	<li>Item 3</li>
	</ul>
</div>


	<div class="jumbotron">
	<div class="container">
	<h1>Find a place to stay</h1>

	<p>Rent awesome rooms from people in over 190+ countries.</p>
	</div>
</div>



<!-- Sign Up

Log In

Help

List Your Space -->
