<div class="container">
	<h1>Welcome Home</h1>
</div>

</br>

<div class="container">
	<ul>
	  <li>Item 1</li>
	  <li>Item 2</li>
	</ul>

	<ul>
  	<li>New 1 </li>
  	<li>New 2</li>
	</ul>
</div>


<div class="jumbotron">
	<div class="container">
	<h1>Find a place to stay</h1>

	<p>Rent awesome rooms from people in over 200 countries.</p>
	</div>
</div>



<div class="container">
<a href="/users/sign_in">Sign In</a>
<p> No Account? <a href="/users/sign_up">Sign Up</a> </p>
</div>
